.section {
    margin-top: 3%;
}
.heading {
    margin-bottom: 3%;
}
.perfumes {
    display: flex;
    flex-wrap: wrap;
}
.perfume {
    width: 18vw;
    height: 60vh;
    margin-left: 2%;
    justify-content: center;
    font-size: 12px;
}
.shop .perfume {
    width: 15vw;
    margin-right: 2%;
}
.perfume img {
    height: 30vh;
    width: 15vw;
    margin-bottom: 4%;
}
.add-to-cart{
    width: 12vw;
}
.heading{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .perfumes {
        flex-direction: column;
    }
    .perfume{
        width: 60vw;
        margin-left: 20%;
    }
    .shop .perfume {
        width: 60vw;
    }
    .perfume img {
        width: 60vw;
        margin-bottom:  0;
    }
    .perfume p {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .perfume, .perfume img, .shop .perfume {
        width: 40vw;
    }
}