.section {
    margin-top: 3%;
}
.heading {
    margin-bottom: 2%;
}
.perfumes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.perfume {
    width: 18vw;
    height: 60vh;
    margin-left: 2%;
    justify-content: center;
    font-size: 12px;
}
.shop .perfume {
    min-width: calc(22% - 15px);
    height: auto;
    margin-right: 1.5%;
    margin-bottom: 2%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
    padding: 1em;
}
.perfume-carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-arrow {
  background: #4b0082;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease;
}

.carousel-arrow:hover {
  background: #f5f5f5;
}

.carousel-arrow:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.left-arrow {
  margin-right: 15px;
}

.right-arrow {
  margin-left: 15px;
}
.perfume-carousel-container .perfume {
  min-width: calc(22% - 15px); 
  text-align: center;
  height: 45vh;
}
.perfume-name {
    margin-top: 5%;
    font-size: 1.2em;
}
.price {
    font-weight: bold;
    font-size: 1.8em;
}
.perfume img {
    height: 20vh;
    width: 10vw;
    margin: 4% 0;
}
.add-to-cart{
    width: 12vw;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.admin-mode {
    width: 20vw;
    float: right;
    margin-bottom: 3%;
}
.admin-controls {
    margin-bottom: 3%;
}
.admin-select {
    width: 20vw;
    margin-bottom: 2%;
}
.add-button {
    width: 15vw;
    margin-left: 2%;
}
.remove-button {
    color: red;
    float: right;
}

@media screen and (max-width: 767px) {
    .admin-mode{
        width: 50vw;
    }
    .perfumes {
        flex-direction: column;
    }
    .perfume{
        width: 60vw;
        margin-left: 20%;
    }
    .shop .perfume {
        width: 62vw;
        height: 42vh;
        margin-left: 3%;
    }
    .perfume img {
        width: 50vw;
        height: 25vh;
        margin-bottom:  0;
    }
    .perfume p {
        font-size: 16px;
    }
    .add-to-cart {
        width: 40vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .perfume, .shop .perfume {
        width: 35vw;
    }
    .perfume img {
        width: 30vw;
    }
    .perfume {
        height: auto;
        margin-bottom: 3%;
    }
}