.empty {
   text-align: center;
   margin-top: 5%;
}
.cart {
    height: 10vh;
}
.cart-h1 {
    margin-top: 5%;
}
.perfume-in-cart {
    margin-top: 3%;
}
.top, .bottom {
    display: flex;
    justify-content: space-between;
}
.cart-left, .remove, .counter {
    display: flex;
}
.cart-perfume {
    height: 20vh;
}
.left-detail {
    padding-left: 1em;
}
.bottom {
    margin-top: 3%;
}
.trash {
    color: #4b0082;
    margin-right: 10%;
    padding-top: .2em;
}
.remove p {
    color: #4b0082;
    cursor: pointer;
}
.minus, .plus {
    background: #4b0082;
    color: #fff;
    padding: .5em;
    border-radius: 5px;
}
  
.counter .minus, .counter .plus {
cursor: pointer;
}
.counter p {
    padding: 0 1em;
}
.checkout {
    width: 12vw;
    margin-top: 3%;
    float: right;
}
.total-actions {
    display: flex;
    justify-content: space-between;
}
.clear-cart{
    width: 12vw;
}

@media screen and (max-width: 767px) {
    .cart-h1 {
        margin-top: 40%;
    }
    .clear-cart {
        width: 25vw;
    }
    .checkout {
        width: 45vw;
        margin-top: 8%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .checkout, .clear-cart {
        width: 20vw;
    }
}