.checkbox{
    width: 5vw;
    margin-left: -10%;
}
.brand {
  width: 18vw;
}

@media screen and (max-width: 767px) {
  .brand{
    width: 90vw;
  }   
  .checkbox {
    margin-right: 3%;
  } 
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .brand {
    width: 100%;
   }
}