.delivery{
    display: flex;
}
.delivery-form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.billing-heading{
    margin-top: 5%;
}
.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.column:first-child {
    margin-right: 3%;
}
.delivery-form input, select{
    width: 100%;
    height: 10vh;
}

.place-order{
    width: 18vw;
    margin-top: 3%;
}
textarea{
    border: 1px solid #e6e6fa;
    height: 15vh;
    width: 100%;
}
.billing-summary {
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    padding: 1em;
    margin-left: 2%;
    width: 18%;
    height: 28vh;
    border-radius: 5px;
}
.total {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .delivery {
        flex-direction: column;
    }
    .place-order {
        width: 70vw;
    }
    .billing-summary {
        width: 70vw;
        margin-top: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .billing-summary {
        width: 40vw;
        height: 18vh;
    }
    .place-order {
        width: 25vw;
    }
}