.grid {
    margin-left: 3%;
}
.price-edit {
    display: flex;
    gap: 5px;
    margin: 10px 0;
  }
  
  .price-edit input {
    width: 80px;
    padding: 5px;
  }
  .edit-button {
  background: #4b0082;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 3%;
}
.buttons {
  display: flex;
}

.add-product-button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 15vw;
  margin-left: 63%;
}

@media screen and (max-width: 767px) {
    .column-flex{
        flex-direction: column;
    }
}