.footer {
    margin-top: 2%;
    border-top: 1px solid #0000001e;
    padding: 1em;
    background: #000000;
    color: #ffffff;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-bottom {
    text-align: center;
    border-top: 1px solid #ffffff;
    padding-top: 1em;
    margin-top: 3%;
}
.footer-link {
    text-decoration: none;
    color: #ffffff;
}
.social-icon {
    padding: 1em;
    color: #ffd700;
    background: #4b0082;
    border-radius: 50%;
    margin-right: 2%;
}
.subscribe {
    width: 10vw;
    margin-top: 2%;
}
.column{
    display: flex;
    flex-direction: column;
}