.footer {
    margin-top: 2%;
    display: flex;
    border-top: 1px solid #0000001e;
    padding: 2em;
    background: #000000;
    color: #ffffff;
    justify-content: space-between;
}
.footer-left {
    width: 50%;
}
.social-icon {
    padding: 1em;
    color: #ffd700;
    background: #4b0082;
    border-radius: 50%;
    margin-right: 2%;
}