.search{
    margin: 5% 0 3% 20%;
    display: flex;
}
.flex{
    display: flex;
}
.search-input {
    width: 50vw;
    height: 7vh;
    padding: 0.75rem 1rem 0.75rem 3rem;
    text-indent: 0;
}
.search-input::placeholder {
    padding-left: 2em;
}
.search-button {
    width: 10vw;
    margin-left: 2%;
}
.search-icon {
    position: relative;
    left: 5%;
    top: 30%;
    color: #0000001e;
}
.search-input::-webkit-search-cancel-button {
  display: none;
}

.search-input[type="search"]::-webkit-search-decoration,
.search-input[type="search"]::-webkit-search-results-button,
.search-input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.fa-times {
    color: red;
    margin: 2% 0 0  3%;
}

@media screen and (max-width: 767px) {
    .search {
        margin-top: 15%;
        flex-direction: column;
    }
    .search-input {
        width: 85vw;
        margin-left: -30%;
    }
    .search-button {
        margin-top: 3%;
        width: 50vw;
    }
    .search-icon{
        left: -20%;
        padding-top: 1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .search {
        margin: 10% 0 0 5%;
    }
    .search-input {
        width: 70vw;
    }
    .search-button {
        width: 15vw;
    }
}