.carousel {
    margin-top: 2%;
    width: 100%;
}

.content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: #ffd700;
    padding: 1em;
    z-index: 10;
    width: 100%;
}
h2{
    text-align: center;
    font-size: 2.5rem;
}
.white{
    color: white;
    text-align: center;
    margin-top: 3%;
}

@media screen and (max-width: 767px) {
    .carousel {
        width: 90vw;
    }
    .width{
        width: 90vw;
        height: auto;
    }
    .content{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel {
        width: 90vw;
        margin-left: 2%;
    }
    .width {
        width: 90vw;
        margin-top: 5%;
        height: auto;
    }
}